
$("#form_link").html("<%=j render 'links/form', link: Link.new %>")

// $('#link_in_url').val('');

$("#result").html('<p class="short_url">Your Shortened Link: <%= link_to @link.short_url, @link.in_url, target: "_blank",:onclick => "update_usages(#{@link.id})" %></p>')
