<div id="form_link">

<%= render 'links/form', link: @link %>
</div>

<!--<script>-->
<!--//    $("#result").html('<p class="short_url">Your Shortened Link: <%#= link_to @link.short_url, @link.in_url, target: "_blank" %></p>')-->
<!--</script>-->