<!--<p id="notice"><%#= notice %></p>-->

<p id="notice"><%= notice %></p>
<p class="short_url"><%= link_to @link.short_url, @link.in_url, target: '_blank' %></p>
<!--<ul class="click_time">-->
  <!--<li><span class="badge"><span class="clicks"><%#= @link.clicks %></span></span> clicks</li>-->
  <!--<li><span class="time"><%#= time_ago_in_words(@link.created_at) %> ago</span></li>-->
<!--</ul>-->
<!--<p class="long_url"><%#= link_to @link.in_url, @link.in_url %></p>-->

<%= link_to 'Back', root_path %>