<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortnerApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' =>'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <%#= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render 'layouts/new_link' %>
    <%#= yield %>
  </body>
</html>
